body
{        
         font-family: Arial;
         background-color: #808080;
         text-align: center;
}
h1
{
    text-align: left;
    background-color: #FFFF00;
    color: #FF0000;  
}
h2
{   text-align: left;
    color: #0000FF;
}
ol		
{
			list-style-type: upper-roman;
            text-align: left; 
}
li
{
    text-align: center; 
}
table
{
    border-color: #000000;
    color: #000000;
    background-color: #C0C0C0;
    text-align: left;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    table-layout: auto;
    
}
th
{
    border: solid;
    background-color: #0000FF;
    border-color: #FFFF00;
    color: #FFFF00;
}


td
{
   border: solid;
}
.adress
{
    text-align: left;
    background-color: white;
    color: black;
    border:3px solid;
    width: fit-content;

}

